.section {
	padding-block-start: clamp(150px, 10vw, 400px);
	padding-block-end: var(--section-block-small);
	background-image: linear-gradient(to top, var(--background-light-gray), transparent);

	@media (min-width: 768px) {
		padding-block-end: var(--section-block-large);
	}
	.layout {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		width: 100%;
		
		@media (min-width: 768px) {
			gap: 4rem;
		}
	}
	.title {
		display: inline-flex;
		flex-wrap: wrap;
		flex-direction: row;
		text-align: center;
		place-items: center;
		place-content: center;


		gap: 0.5rem;
		font-size: clamp(2.125rem, 10vw, 5em);
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: -0.02em;
		text-wrap: balance;
		
		@media (min-width: 768px) {
			line-height: 1.15;
			min-width: min(100vw, 1500px);
			padding-inline: 1.25rem;
		}

		.reviewPopUp {
			@media (max-width: 780px) {
				display: none;
			}
		}
	}
	.description {
		font-size: var(--font-size-sm);
		line-height: 1.5;
		font-size: 1.25rem;
		text-align: center;
		max-width: var(--container-small);

	}
	.actions {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 1rem;
		padding-block: 1.5rem;

		@media (max-width: 520px) {
			place-self: stretch;

			> * {
				flex-grow: 1;
			}
		}

		@media (min-width: 768px) {
			flex-direction: row;
		}
	}
}
