.form {
	display: flex;
	flex-direction: column;
	place-items: stretch;
	gap: 1rem;
	padding: 1.25rem;
  border-radius: var(--rounded-lg);
  background-color: rgba($color: #ffffff, $alpha: 0.08);
  backdrop-filter: blur(3px);

	@media screen and (min-width: 425px) {
		padding: 3rem 2rem;
	}
	@media screen and (min-width: 769px) {
		padding: 3rem;
	}

  &_field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  
  &_input {
    min-height: 2.5rem;
    max-width: 100%;
    border-radius: 0.25rem;
    padding-inline: 1rem;
    color: var(--color-font);
  }
  
  &_textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    border-radius: 0.25rem;
    padding-inline: 1rem;
    padding-block: 1rem;
    color: var(--color-font);
  }
  
  &_field_checkbox {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
  
  &_field_checkbox input {
    margin-top: 0.25rem;
  }
  
  &_label_checkbox {
    font-size: 0.875rem;
    color: var(--color-gray-700);
  }
  
  &_label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-gray-700);
  }
  
  &_group {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
  
    > * {
      flex-grow: 1;
      flex-basis: 25ch;
      width: 100%;
    }
  }
  
  &_actions {
    padding-top: 1rem;
  }
  
  &_actions button {
    --size: 56px;
  }
}

