.section {
	padding-block: 2.5rem;
	padding-inline: 1.25rem;
	// background-image: url("/images/background_footer.png");
	// background-size: cover;
	// background-position: center;
	// background-repeat: no-repeat;
	grid-column-gap: 100px;
	grid-row-gap: 100px;
	background-image: radial-gradient(circle closest-corner at 50% 450%, rgba(204, 252, 126, 0.06) 90%, transparent), url("/images/background_footer.png");
	background-position: 0 0, 50% 100%;
	background-repeat: repeat, no-repeat;
	background-size: auto, 100%;

	@media screen and (min-width: 768px) {
		padding-block: 4rem;
		padding-inline: 4rem;
	}

	@media screen and (min-width: 1024px) {
		padding: 7.5rem;
	}

	&_layout {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		margin-inline: auto;
		text-wrap: pretty;

		@media screen and (min-width: 768px) {
			gap: 5rem;
		}
	}

	&_top {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-self: center;
		max-width: 75ch;
	}

	&_heading {
		display: flex;
		flex-direction: column;
		place-items: center;


		&_title-wrap {
			align-self: stretch;
			display: flex;
			flex-direction: column;
			text-wrap: pretty;
			font-size: clamp(2.5rem, 10vw, 5rem);
			font-weight: 500;
			line-height: 1;
			padding-inline: 1em;
		}

		&_line {
			display: flex;
			flex-flow: row;
			place-content: center;
			place-items: center;
			color: var(--color-font);

			&:nth-child(even) {
				align-self: flex-end;
			}

			// First Line
			&:nth-child(1) {
				transform: translateX(-2%);

				span {
					background: linear-gradient(
						135deg,
						var(--color-primary) 25%,
						var(--color-secondary) 75%
					);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			// Second Line
			&:nth-child(2) {
			}
			// Third Line
			&:nth-child(3) {
				gap: 0.25em;

				svg {
					transform: rotateY(0.5turn);
					width: 1em;
					height: 1em;
				}
			}
		}
	}
	&_actions {
		align-self: center;
	}
	&_bottom {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		// padding-top: 2.5rem;
		// border-top: 1px dashed rgba(255, 255, 255, 0.2);
		font-size: 0.875rem;

		@media screen and (min-width: 768px) {
			display: grid;
			grid-template-columns: repeat(3, auto);
		}

		&_block {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;

			&_contact {
				display: flex;
				flex-direction: row;
				gap: 0.5rem;
			}
		}
	}
}
