  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .form_field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .form_input {
    min-height: 2.5rem;
    max-width: 100%;
    border-radius: 0.25rem;
    padding-inline: 1rem;
    color: var(--color-font);
  }

  .form_label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-gray-700);
  }

  .form_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
  }
