@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #153036;
	/* Fonts */
	--color-font: #00252e;
	--headingFont: "Archivo";
	--bodyFont: "Roboto Flex";

	/* Colors */
	--color-primary: #0ddeac;
	--color-secondary: #c5fd01;
	--color-accent: #b8e51a;
	--color-font-dark: #00252e;
	--color-font-light: #f7f7f8;
	--color-light: #fff;
	--color-border-base: #e0e0e0;
	--color-border-dark: #00252e;
	--color-border-light: #f7f7f8;
	--color-border-accent: #0ddeac;

	/* Border */
	--border-radius-sm: 0.25rem;
	--border-radius-md: 0.75rem;
	--border-radius-lg: 1.25rem;
	--border-radius-full: 999px;
	--border-radius-none: 0;
	--border-radius-button: var(--border-radius-full);
	--border-radius-card: var(--border-radius-md);

	/* Background */
	--bkg-dark: #00252e;
	--bkg-light-dark: #00303c;
	--bkgDotPattern: radial-gradient(
		hsla(0, 0%, 100%, 0.1) var(--line-size),
		transparent 0
	);

	/* Container */
	--container-large: 1400px;
	--container-medium: 1200px;
	--container-small: 900px;
	--container-xsmall: 600px;
	--container-xxsmall: 400px;

	/* Font Sizes */
	--font-size-h1: clamp(2.25rem, 5vw, 4.5rem);
	--font-size-h2: clamp(2rem, 5vw, 3rem);
	--font-size-h3: clamp(1.75rem, 5vw, 2.5rem);
	--font-size-h4: clamp(1.5rem, 5vw, 2rem);
	--font-size-h5: clamp(1.25rem, 5vw, 1.5rem);
	--font-size-h6: clamp(1.2rem, 5vw, 1.25rem);

	--font-size-sm: clamp(0.875rem, 5vw, 1rem);
	--font-size-md: clamp(1rem, 5vw, 1.125rem);
	--font-size-lg: clamp(1.125rem, 5vw, 1.25rem);

	/* Spacing */
	--section-block-large: 6rem;
	--section-block-medium: 4rem;
	--section-block-small: 3rem;
}

@layer base {
	body {
		@apply font-body font-thin;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}

	.heading-h1 {
		@apply text-[2.5rem] md:text-[3rem] lg:text-[4rem] leading-[1.15] font-heading;
	}
	.heading-h2 {
		@apply text-[2rem] md:text-[3rem] leading-[1.25] font-heading;
	}
	.heading-h3 {
		@apply text-[1.75rem] md:text-[2.5rem] leading-[1.25] font-heading;
	}
	.heading-h4 {
		@apply text-[1.5rem] md:text-[2rem] leading-[1.25] font-heading;
	}
	.heading-h5 {
		@apply text-[1.25rem] md:text-[1.5rem] leading-[1.25] font-heading;
	}
	.heading-h6 {
		@apply text-[1.2rem] md:text-[1.25rem] leading-[1.25] font-heading;
	}

	/* .bkg-dot-pattern {
		@apply bg-primary;
	}
	.bkg-grid-pattern {
		@apply bg-primary;
	} */
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

/* Ui */
.button {
	display: inline-block;
	padding: 1rem 2rem;
	border-radius: var(--border-radius-button);
	background-color: var(--color-font-light);
	color: var(--color-font-dark);
	font-weight: 500;
	font-size: 1rem;
	transition: all 0.3s ease-in-out;
	min-height: 48px;
	text-wrap: nowrap;
	min-width: min-content;
}

.button[data-variant="primary"] {
	background-color: var(--color-accent);
	color: var(--color-font-dark);
}

.button [data-variant="secondary"] {
	background-color: var(--color-font-light);
	color: var(--color-font-dark);
}

.button[data-variant="accent"] {
	background-color: var(--color-accent);
	color: var(--color-font-dark);
}

.button[data-variant="light"] {
	background-color: var(--color-light);
	color: var(--color-font-dark);
}

.bkg-dot-pattern {
	--dot-size: 2.5px;
	--dot-color: var(--color-font-dark);
	--dot-spacing: 100px;

	position: relative;
	overflow: clip;
	background-image: radial-gradient(
		var(--dot-color) var(--dot-size),
		transparent var(--dot-size)
	);
	background-size: var(--dot-spacing) var(--dot-spacing);
	background-position: center;
}

.bkg-dot-pattern::before {
	content: "";
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 100%;
	max-width: 100vw;
	overflow-x: hidden;
	height: 75%;
	opacity: 0.6;
	background-image: radial-gradient(#0ddeac 50%, #00252e 50%);
	filter: blur(200px);
	opacity: 0.35;
	z-index: 0;
}

.bkg-dot-pattern > *,
.bkg-grid-pattern > * {
	position: relative;
	z-index: 1;
}

.bkg-grid-pattern {
	--line-size: 1px;
	--line-color: var(--color-primary);
	--line-spacing: 100px;

	position: relative;
	overflow: clip;
	background-image: linear-gradient(
			var(--line-color) var(--line-size),
			transparent var(--line-size)
		),
		linear-gradient(
			to right,
			var(--line-color) var(--line-size),
			transparent var(--line-size)
		);
	background-size: var(--line-spacing) var(--line-spacing);
	background-position: center;
	max-width: 100vw;
	overflow-x: hidden;
}

.bkg-grid-pattern::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 200%;
	height: 100%;
	background-image: radial-gradient(var(--color-font-dark) 50%, transparent);
	filter: blur(100px);
	opacity: 1;
	z-index: 0;
}

.drag-none {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}
