@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #FCFCFC;
		/* Fonts */
		--color-font: #00252e;
		--headingFont: "Archivo";
		--bodyFont: "Roboto Flex";

		/* Colors */
		--color-primary: #0ddeac;
		--color-secondary: #c5fd01;
		--color-accent: #c5fd01;
		--color-font-dark: #00252e;
		--color-font-light: #f7f7f8;
		--color-border-base: rgba(0, 37, 46, 0.1);
		--color-border-dark: #00252e;
		--color-border-light: #f7f7f8;
		--color-border-accent: #0ddeac;

		/* Border */
		--border-radius-sm: 0.25rem;
		--border-radius-md: 0.75rem;
		--border-radius-lg: 1.25rem;
		--border-radius-full: 999px;
		--border-radius-none: 0;

		/* Background */
		--bkg-dark: #00252e;
		--bkg-light: #fff;
		--bkg-radial-fade: radial-gradient(circle, rgba(0, 37, 46, 0.1) 0%, rgba(0, 37, 46, 0) 70%);
		--bkg-gradient-fade: linear-gradient(to bottom, rgba(0, 37, 46, 0.1) 0%, rgba(0, 37, 46, 0) 70%);
		--bkg-section-pill: linear-gradient(to bottom, rgba(0, 37, 46, 0.1) 0%, #343434 100%);
		--bkg-card: var(--bkg-light);

		/* Corners */
		--rounded-btn: 0.5rem;
		--rounded-sm: 0.25rem;
		--rounded-md: 0.75rem;
		--rounded-lg: 1.25rem;
		--rounded: 999px;

		/* Shadows */
		--shadow-card: 0px 10px 20px 0px rgba(0, 37, 46, 0.1);
	}
}

@layer base {
	body {
		@apply bg-background text-foreground font-body font-thin;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}

	.heading-h1 {
		@apply text-[2.5rem] md:text-[3rem] lg:text-[4rem] leading-[1.15] font-heading;
	}
	.heading-h2 {
		@apply text-[2rem] md:text-[3rem] leading-[1.25] font-heading;
	}
	.heading-h3 {
		@apply text-[1.75rem] md:text-[2.5rem] leading-[1.25] font-heading;
	}
	.heading-h4 {
		@apply text-[1.5rem] md:text-[2rem] leading-[1.25] font-heading;
	}
	.heading-h5 {
		@apply text-[1.25rem] md:text-[1.5rem] leading-[1.25] font-heading;
	}
	.heading-h6 {
		@apply text-[1.2rem] md:text-[1.25rem] leading-[1.25] font-heading;
	}

	/* .bkg-dot-pattern {
		@apply bg-primary;
	}
	.bkg-grid-pattern {
		@apply bg-primary;
	} */
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}

@layer components {
	.container {
		@apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
	}

	.card {
		@apply bg-card shadow-card rounded-2xl border border-base;
	}

	.bkg-gradient {
		@apply bg-gradient-to-b from-slate-100 to-slate-200;
	}
}
