.hero {
	position: relative;

	&_heading {
		display: flex;
		flex-direction: column;
		place-items: center;
		line-height: 1;
		text-wrap: pretty;
		font-size: clamp(2.5rem, 5vw, 5rem);
		font-weight: 500;
		line-height: 1;
	}

	&_heading-wrap {
        place-self: center;
		position: relative;
		display: flex;
		flex-direction: column;
		max-width: 75%;
		width: 100%;

		&_line {
			display: flex;
			flex-flow: row wrap;
			place-content: center;
			place-items: center;

            // First Line
            &:nth-child(1) {
                align-self: flex-start;
                gap: 0.5rem;

                > *:nth-child(2) {
                    background: linear-gradient(
                        135deg,
                        var(--color-primary) 25%,
                        var(--color-secondary) 75%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transform: rotate(5deg);
                    font-size: 1.1em;
                }
            }

            // Second Lines
            &:nth-child(2) {
                align-self: flex-end;

                > *:nth-child(1) {
                    margin-top: -10%;
                    transform: rotate(12deg);   
                }
            }
			
		}

		// > *:nth-child(1) {
		//     display: flex;
		//     flex-flow: row wrap;
		//     place-content: center;
		//     place-items: center;
		//     row-gap: 1rem;
		//     column-gap: 0.5rem;

		//     > *:nth-child(2) {
		//         background: linear-gradient(135deg, var(--color-primary) 25%, var(--color-secondary) 75%);
		//         -webkit-background-clip: text;
		//         -webkit-text-fill-color: transparent;
		//         transform: rotate(5deg);
		//         font-size: 1.1em;
		//     }
		// }

		> *:nth-child(2) {
			align-self: flex-end;
		}
	}
}
