.hero {
	// height: 100vh;
	min-height: max-content;
	padding-block: 1.24rem 2rem;

	.layout {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: stretch;
		gap: 40px;
		max-width: 100%;
		width: 100%;

		> * {
			flex-grow: 1;
			flex-basis: var(--container-xxsmall);
		}

		@media (min-width: 900px) {
			display: grid;
			gap: 5rem;
			grid-template-columns: 1fr 1fr;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-block-start: 5rem;
		gap: 1rem;
		text-wrap: pretty;

		> * {
			width: 100%;
		}

		@media (min-width: 900px) {
			padding-block-start: 12.5rem;

			justify-content: space-between;
		}
	}

	.title {
		font-size: clamp(3rem, 5vw, 5.5rem);
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: -0.02em;
		margin-block-end: auto;
	}

	.description {
		font-size: 1.125rem;
		font-size: clamp(1.25rem, 3vw, 1.5rem);
		max-width: 40ch;
		line-height: 1.5;
	}

	.actions {
		padding-block-start: 1.25rem;
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: min-content;
		gap: 1.25rem;
	}
}
