.navbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  padding-block: 1rem;
  z-index: 1000;

  &_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &_logo {
    font-weight: bold;
    font-size: 1.5rem;
  }

  &_links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &_link {
    &--active {
      color: var(--color-primary);
    }
  }

  &_actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &_phone {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
  }
}