.navbar {
	// background-color: rgba(255, 255, 255, 0.1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	place-items: stretch;
	place-content: center;
	z-index: 10;
	padding-inline: 1.25rem;


	@media screen and (min-width: 768px) {
		padding-block-start: 2.5em;
		padding-inline: 1.25rem;
	}

	.container {
		width: 100%;
		max-width: var(--container-large);
	}

	.layout {
		display: flex;
		flex-direction: row;
		place-items: center;
		place-content: space-between;
		gap: 3rem;
		padding-inline-end: 1.25rem;
	}

	.links {
		display: flex;
		align-items: center;
		gap: 3rem;

		.navigation {
			display: flex;

			gap: 1.5rem;
			font-size: 1.125rem;

			.link {
				gap: 0em;
				transition: gap 0.3s ease;

				&[aria-current="page"] {
					display: flex;
					align-items: center;
					gap: 0.5em;
					font-weight: 500;
					line-height: 1;
					transition: all 0.3s ease;

					&::before {
						--dot-size: 0.5rem;
						content: "";
						display: block;
						width: var(--dot-size);
						height: var(--dot-size);
						background-color: var(--color-primary);
						border-radius: var(--border-radius-full);
					}
				}
			}
		}
	}

	.actions {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;

		@media screen and (min-width: 768px) {
			flex-direction: row;
		}

		.phone {
			--button-size: 3rem;
			position: relative;
			display: flex;
			place-items: center;
			place-content: center;
			padding-inline: 0.875rem;
			border-radius: var(--border-radius-full);
			background-color: rgba(white, 0.5);
			backdrop-filter: blur(8px);
			place-self: stretch;
			font-size: 1rem;
			min-height: var(--button-size);
			transition: gap 0.2s ease 0.4s;
			gap: 0.5rem;


			&:before {
				--stroke-size: 4px;
				content: "";
				position: absolute;
				left: calc(var(--stroke-size) * -1);
				top: calc(var(--stroke-size) * -1);
				right: calc(var(--stroke-size) * -1);
				bottom: calc(var(--stroke-size) * -1);
				z-index: -1;
				display: block;
				width: clac(100% + var(--stroke-size));
				height: clac(100% + var(--stroke-size));
				background-color: inherit;
				border-radius: inherit;
				backdrop-filter: inherit;
				filter: brightness(0.9);
			}

			&_number {
				max-width: 400px;
				transition: all 0.8s linear;
				overflow: hidden;
				white-space: nowrap;
			}

			// Interactions
			&:not(:hover) {
				min-width: 56px;
				gap: 0rem;

				.phone_number {
					max-width: 0px;
				}
			}
		}
	}
}
