.container {
  max-width: 800px;
  margin: 0 auto;
}

.welcomeMessage {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.currentRating {
  text-align: center;
  margin-bottom: 2rem;
}