.sliderRoot {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 200px;
    height: 20px;
  }
  
  .sliderTrack {
    background-color: #e6e6e6;
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 3px;
  }
  
  .sliderRange {
    position: absolute;
    background-color: #007bff;
    border-radius: 9999px;
    height: 100%;
  }
  
  .sliderThumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
  }